<a href="https://colab.research.google.com/github/Samarthb1257/Lab_Project/blob/main/4_may_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1=[5,6,8,9,10,12,"A","B"]
alternate=l1[-1::-3]
even=l1[-1::-2]
print(alternate)
print(even)

['B', 10, 6]
['B', 12, 9, 6]

In [ ]:
x=11%4
print(x)

3

# New Section

In [ ]:
import csv
file= open("/ADITYA (116) Salary emp 2.csv","r")
data = list(csv.reader(file))
data.sort()
print(data)
file.close()
file1 = open("/ADITYA EDS Excel Employee (116) 2.csv","r")
data1 = list(csv.reader(file1))
print(data1)

#merging two files
data2 = []
for i in range(len(data)):
  data2.append(data[i]+data1[i])
print(data2)
print(data2[0])
#sorting as per records
data2.sort()#key=lambda x: int(x[2]), reverse= True)
print(data2)
#converting list to csv file
file2= open("/ADITYA (116) Salary emp 2.csv","w")
cw = csv.writer(file2)
cw.writerows(data2)
file.close()
file1.close()
file2.close()

[['1', 'Ganesh ', '1001', '25000', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves'], ['10', 'Vijay', '1010', '100000', '1', 'Ganesh ', '1001', '21-01-2023', '2', '1', 'Ganesh ', '1001', '21-01-2023', '2'], ['2', 'Kartik', '1002', '40000', '2', 'Kartik', '1002', '22-01-2023', '4', '2', 'Kartik', '1002', '22-01-2023', '4'], ['3', 'Veera', '1003', '80000', '3', 'Veera', '1003', '23-01-2023', '8', '3', 'Veera', '1003', '23-01-2023', '8'], ['4', 'Sanskruti', '1004', '60000', '4', 'Sanskruti', '1004', '24-01-2023', '6', '4', 'Sanskruti', '1004', '24-01-2023', '6'], ['5', 'Archana', '1005', '50000', '5', 'Archana', '1005', '25-01-2023', '1', '5', 'Archana', '1005', '25-01-2023', '1'], ['6', 'Aradhana', '1006', '30000', '6', 'Aradhana', '1006', '26-01-2023', '2', '6', 'Aradhana', '1006', '26-01-2023', '2'], ['7', 'Pratham', '1007', '15000', '7', 'Pratham', '1007', '27-01-2023', '3', '7', 'Pratham', '1007', '27-01-2023', '3'], ['8', 'Sayali', '1008', '55000', '8', 'Sayali', '1008', '28-01-2023', '5', '8', 'Sayali', '1008', '28-01-2023', '5'], ['9', 'Smruti', '1009', '80000', '9', 'Smruti', '1009', '29-01-2023', '9', '9', 'Smruti', '1009', '29-01-2023', '9'], ['Sr no.', 'Emp Name', 'Emp id', 'Salary', '10', 'Vijay', '1010', '30-01-2023', '7', '10', 'Vijay', '1010', '30-01-2023', '7']]
[['Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves'], ['1', 'Ganesh ', '1001', '21-01-2023', '2'], ['2', 'Kartik', '1002', '22-01-2023', '4'], ['3', 'Veera', '1003', '23-01-2023', '8'], ['4', 'Sanskruti', '1004', '24-01-2023', '6'], ['5', 'Archana', '1005', '25-01-2023', '1'], ['6', 'Aradhana', '1006', '26-01-2023', '2'], ['7', 'Pratham', '1007', '27-01-2023', '3'], ['8', 'Sayali', '1008', '28-01-2023', '5'], ['9', 'Smruti', '1009', '29-01-2023', '9'], ['10', 'Vijay', '1010', '30-01-2023', '7']]
[['1', 'Ganesh ', '1001', '25000', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves'], ['10', 'Vijay', '1010', '100000', '1', 'Ganesh ', '1001', '21-01-2023', '2', '1', 'Ganesh ', '1001', '21-01-2023', '2', '1', 'Ganesh ', '1001', '21-01-2023', '2'], ['2', 'Kartik', '1002', '40000', '2', 'Kartik', '1002', '22-01-2023', '4', '2', 'Kartik', '1002', '22-01-2023', '4', '2', 'Kartik', '1002', '22-01-2023', '4'], ['3', 'Veera', '1003', '80000', '3', 'Veera', '1003', '23-01-2023', '8', '3', 'Veera', '1003', '23-01-2023', '8', '3', 'Veera', '1003', '23-01-2023', '8'], ['4', 'Sanskruti', '1004', '60000', '4', 'Sanskruti', '1004', '24-01-2023', '6', '4', 'Sanskruti', '1004', '24-01-2023', '6', '4', 'Sanskruti', '1004', '24-01-2023', '6'], ['5', 'Archana', '1005', '50000', '5', 'Archana', '1005', '25-01-2023', '1', '5', 'Archana', '1005', '25-01-2023', '1', '5', 'Archana', '1005', '25-01-2023', '1'], ['6', 'Aradhana', '1006', '30000', '6', 'Aradhana', '1006', '26-01-2023', '2', '6', 'Aradhana', '1006', '26-01-2023', '2', '6', 'Aradhana', '1006', '26-01-2023', '2'], ['7', 'Pratham', '1007', '15000', '7', 'Pratham', '1007', '27-01-2023', '3', '7', 'Pratham', '1007', '27-01-2023', '3', '7', 'Pratham', '1007', '27-01-2023', '3'], ['8', 'Sayali', '1008', '55000', '8', 'Sayali', '1008', '28-01-2023', '5', '8', 'Sayali', '1008', '28-01-2023', '5', '8', 'Sayali', '1008', '28-01-2023', '5'], ['9', 'Smruti', '1009', '80000', '9', 'Smruti', '1009', '29-01-2023', '9', '9', 'Smruti', '1009', '29-01-2023', '9', '9', 'Smruti', '1009', '29-01-2023', '9'], ['Sr no.', 'Emp Name', 'Emp id', 'Salary', '10', 'Vijay', '1010', '30-01-2023', '7', '10', 'Vijay', '1010', '30-01-2023', '7', '10', 'Vijay', '1010', '30-01-2023', '7']]
['1', 'Ganesh ', '1001', '25000', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves']
[['1', 'Ganesh ', '1001', '25000', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves', 'Sr no.', 'Emp Name', 'Emp id', 'Date', 'Leaves'], ['10', 'Vijay', '1010', '100000', '1', 'Ganesh ', '1001', '21-01-2023', '2', '1', 'Ganesh ', '1001', '21-01-2023', '2', '1', 'Ganesh ', '1001', '21-01-2023', '2'], ['2', 'Kartik', '1002', '40000', '2', 'Kartik', '1002', '22-01-2023', '4', '2', 'Kartik', '1002', '22-01-2023', '4', '2', 'Kartik', '1002', '22-01-2023', '4'], ['3', 'Veera', '1003', '80000', '3', 'Veera', '1003', '23-01-2023', '8', '3', 'Veera', '1003', '23-01-2023', '8', '3', 'Veera', '1003', '23-01-2023', '8'], ['4', 'Sanskruti', '1004', '60000', '4', 'Sanskruti', '1004', '24-01-2023', '6', '4', 'Sanskruti', '1004', '24-01-2023', '6', '4', 'Sanskruti', '1004', '24-01-2023', '6'], ['5', 'Archana', '1005', '50000', '5', 'Archana', '1005', '25-01-2023', '1', '5', 'Archana', '1005', '25-01-2023', '1', '5', 'Archana', '1005', '25-01-2023', '1'], ['6', 'Aradhana', '1006', '30000', '6', 'Aradhana', '1006', '26-01-2023', '2', '6', 'Aradhana', '1006', '26-01-2023', '2', '6', 'Aradhana', '1006', '26-01-2023', '2'], ['7', 'Pratham', '1007', '15000', '7', 'Pratham', '1007', '27-01-2023', '3', '7', 'Pratham', '1007', '27-01-2023', '3', '7', 'Pratham', '1007', '27-01-2023', '3'], ['8', 'Sayali', '1008', '55000', '8', 'Sayali', '1008', '28-01-2023', '5', '8', 'Sayali', '1008', '28-01-2023', '5', '8', 'Sayali', '1008', '28-01-2023', '5'], ['9', 'Smruti', '1009', '80000', '9', 'Smruti', '1009', '29-01-2023', '9', '9', 'Smruti', '1009', '29-01-2023', '9', '9', 'Smruti', '1009', '29-01-2023', '9'], ['Sr no.', 'Emp Name', 'Emp id', 'Salary', '10', 'Vijay', '1010', '30-01-2023', '7', '10', 'Vijay', '1010', '30-01-2023', '7', '10', 'Vijay', '1010', '30-01-2023', '7']]

In [ ]:
import csv

def read_csv(file_path):
    with open(file_path, "r") as file:
        data = list(csv.reader(file))
    return data

def merge_csv(file_path1, file_path2):
    data1 = read_csv(file_path1)
    data2 = read_csv(file_path2)
    merged_data = []
    for i in range(len(data1)):
        merged_data.append(data1[i] + data2[i])
    merged_data.sort()
    return merged_data

def write_csv(file_path, data):
    with open(file_path, "w") as file:
        cw = csv.writer(file)
        cw.writerows(data)

# Reading the first CSV file
file_path1 = "/ADITYA (116) Salary emp 2.csv"
data1 = read_csv(file_path1)

# Reading the second CSV file
file_path2 = "/ADITYA EDS Excel Employee (116) 2.csv"
data2 = read_csv(file_path2)

# Merging the two CSV files
merged_data = merge_csv(file_path1, file_path2)

# Writing the merged data to a new CSV file
new_file_path = "/ADITYA (116) Salary emp 2.csv"
write_csv(new_file_path, merged_data)

# New Section

In [ ]:
# Relational Operators
x = 4
y = 7

print(x == y)

False

In [ ]:
x = 4
y = 7

print(x != y)

True

In [ ]:
x = 7
y = 4

print(x>y)

True

In [ ]:
x = 3
y = 4

print(x<y)

True

In [ ]:
x = 5
y = 3

print(x >= y)

True

In [ ]:
x = 4
y = 7

print(x<=y)

True

# New Section

In [ ]:
# Assignment Operation
x = 6

print(x)

6

In [ ]:
x = 4

x += 9

print(x)

13

In [ ]:
x = 4

x -= 11

print(x)

2

In [ ]:
x = 5

x *= 3

print(x)

15

In [ ]:
x = 4

x /= 2

print(x)

2.0

In [ ]:
x = 20

x %= 3

print(x)

2

In [ ]:
x = 4

x **= 3

print(x)

64

In [ ]:
x = 9

x//=3

print(x)

3

# New Section

In [ ]:
# Arithmetic Operator
a=3
b=4
print(a+b)

7

In [ ]:
a=5
b=3
print(a-b)

2

In [ ]:
a=4
b=5
print(a*b)

20

In [ ]:
a=5
b=3
print(a*b)

15

In [ ]:
a=6
b=3
print(a/b)

2.0

In [ ]:
a=7
b=2
print(a%b)

1

In [ ]:
a=5
b=2
print(a**b)

25

In [ ]:
a=5
b=2
print(a//b)

2

# New Section

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Emp.csv')
a=df
print(a.values.tolist())
df1=pd.read_csv(r'/content/drive/MyDrive/Sal.csv')
l=list(df1.itertuples(index=False))
t1=[tuple(x)for x in df1.values]
d1=df.to_dict()
def freq(l):
  counter = 0
  num= l[0]
  for i in l:
    cf=l.count(i)
    if(cf>counter):
      counter = cf
      num = i
      return 0
print(freq(l))

[[1, 'Ganesh ', 1001, '21-01-2023', 2], [2, 'Kartik', 1002, '22-01-2023', 4], [3, 'Veera', 1003, '23-01-2023', 8], [4, 'Sanskruti', 1004, '24-01-2023', 6], [5, 'Archana', 1005, '25-01-2023', 1], [6, 'Aradhana', 1006, '26-01-2023', 2], [7, 'Pratham', 1007, '27-01-2023', 3], [8, 'Sayali', 1008, '28-01-2023', 5], [9, 'Smruti', 1009, '29-01-2023', 9], [10, 'Vijay', 1010, '30-01-2023', 7]]
0

# New Section

In [ ]:
import pandas as pd

# read in the three CSV files
df1 = pd.read_csv('/age_stud(1).csv')
df2 = pd.read_csv('/height_stud(1).csv')
df3 = pd.read_csv('/weight_stud(1).csv')

merged_df = pd.merge(df1, df2, on='StudentID')
merged_df = pd.merge(merged_df, df3, on='StudentID')

merged_df.to_csv('StudentDetails.csv', index=False)

print(merged_df)


avg_height = merged_df['Height (in)'].mean()
max_height = merged_df['Height (in)'].max()
min_height = merged_df['Height (in)'].min()
count_height = merged_df['Height (in)'].count()
sum_height =merged_df['Height (in)'].sum()
percent_female =merged_df['Gender'].value_counts(normalize=True)['Female'] * 100

avg_weight = merged_df['Weight (lbs)'].mean()
max_weight = merged_df['Weight (lbs)'].max()
min_weight = merged_df['Weight (lbs)'].min()
count_weight = merged_df['Weight (lbs)'].count()
sum_weight = merged_df['Weight (lbs)'].sum()
percent_male = merged_df['Gender'].value_counts(normalize=True)['Male'] * 100

# print the results
print(f"Height: Average={avg_height}, Max={max_height}, Min={min_height}, Count={count_height}, Sum={sum_height}")
print(f"Weight: Average={avg_weight}, Max={max_weight}, Min={min_weight}, Count={count_weight}, Sum={sum_weight}")
print(f"Percentage of Females: {percent_female}%")
print(f"Percentage of Males: {percent_male}%")

   StudentID       Name  Gender  Age  Height (in)  Weight (lbs)
0          1      Rahul    Male   18           68           150
1          2      Rohan    Male   19           64           120
2          3     Omkesh    Male   20           70           180
3          4    Samarth    Male   18           62           110
4          5    Firdaus  Female   19           72           200
5          6  Samruddhi  Female   20           66           130
Height: Average=67.0, Max=72, Min=62, Count=6, Sum=402
Weight: Average=148.33333333333334, Max=200, Min=110, Count=6, Sum=890
Percentage of Females: 33.33333333333333%
Percentage of Males: 66.66666666666666%

# New Section

In [ ]:
# 11 May 2023
import math
print (math.pow(9,3))

729.0

In [ ]:
# itertools in python
from itertools import count
for number in count (start=5,step=3):
  if number > 10:
    break
  print(number)

5
8

In [ ]:
x = range(3,10)
for n in x:
  print(n)

3
4
5
6
7
8
9

In [ ]:
# numbers, decimals and strings.
from fractions import Fraction
print(Fraction(84,21))
print(Fraction(81,7))
print(Fraction (23,17))

4
81/7
23/17

In [ ]:
import decimal
float_division=22/7
decimal_devision=decimal.Decimal(22)/decimal.Decimal(7)
print("Result for float division of 4 by 3 : ")
print(float_division)
print("Result for decimal division of 4 by 3 : ")
print(float_division)

Result for float division of 4 by 3 :
3.142857142857143
Result for decimal division of 4 by 3 :
3.142857142857143

In [ ]:
import decimal
from decimal import Decimal
x = Decimal("0.8")
y = Decimal("0.9")
z = Decimal("0.7")

s=x+y+z
print(s)

2.4

In [ ]:
var = 2
var = 3
print(var)

3

In [ ]:
a = '1'
b = "1"
print(a + b)

11

In [ ]:
a = 6
b = 3
a /= 2 * b
print(a)

1.0