<a href="https://colab.research.google.com/github/Samarthb1257/Lab_Project/blob/main/Assginment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=(1,2,3,4,5)
b=a[1:3]
print(b)

(2, 3)

In [ ]:
a=("samarth",1,2,"shreyash",3,4)
b=a[0:4]
print(b)

('samarth', 1, 2, 'shreyash')

In [ ]:
import pandas as pd


df = pd.read_csv('/content/Employee payroll .csv')


max_salary = df['Base Pay'].max()
employee_max_salary = df[df['Base Pay'] == max_salary]


chief_hr_employee = df[df['Job Title'] == 'Chief of Human Resources']['First Name'].values[0]
print("Employee with the job title 'Chief of Human Resources':", chief_hr_employee)




total_basic_pay_q4 = df[df['Fiscal Quarter'] == 4]['Base Pay'].sum()


print("Employee with the maximum salary:")
print(employee_max_salary)

print("\nEmployee(s) with job title 'Chief Human Resources':")
print(chief_hr_employee)


print("\nTotal basic pays of employees in Fiscal Quarter 4:", total_basic_pay_q4)

Employee with the job title 'Chief of Human Resources': GLADYS
Employee with the maximum salary:
    Fiscal Year  Fiscal Quarter Fiscal Period    First Name Last Name  \
14         2017               4        2017Q4  SHABIRHUSAIN    ABADIN

              Bureau  Office         Office Name  Job Code  \
14  Bureau of Health    4891  PROVIDENT HOSPITAL      1642

                  Job Title  Base Pay  Position ID Original Hire Date
14  Attending Physician XII  67824.96      1100069         12/16/2013

Employee(s) with job title 'Chief Human Resources':
GLADYS

Total basic pays of employees in Fiscal Quarter 4: 212127.42000000004