In [ ]:
import pandas as pd
df = pd.read_csv('/hobby CSV.csv')
print(df)
df1 = pd.read_csv('/Hobby Experience .csv')
print(df1)

   Sr.no    Name         Hobby  Age Follow it as passion
0      1     john      Reading   12                  Yes
1      2    Emily      Cooking   13                   No
2      3  Michael  Photography   23                  Yes
3      4   Sophia     Painting   14                  Yes
4      5   daniel    Traveling   24                   No
5      6   Olivia      Writing   25                   No
6      7    David      Fishing   11                   No
7      8     Emma      Singing   16                  Yes
8      9      Ava      Playing   26                  Yes
9     10     Bolt         Yoga   17                  Yes
   Sr.no  Experience(year)
0      1                 2
1      2                 3
2      3                 6
3      4                 3
4      5                 7
5      6                 4
6      7                 2
7      8                 5
8      9                 1
9     10                 9

In [ ]:
import pandas as pa
df.sort_values(by=['Age'])

   Sr.no    Name         Hobby  Age Follow it as passion
6      7    David      Fishing   11                   No
0      1     john      Reading   12                  Yes
1      2    Emily      Cooking   13                   No
3      4   Sophia     Painting   14                  Yes
7      8     Emma      Singing   16                  Yes
9     10     Bolt         Yoga   17                  Yes
2      3  Michael  Photography   23                  Yes
4      5   daniel    Traveling   24                   No
5      6   Olivia      Writing   25                   No
8      9      Ava      Playing   26                  Yes

In [ ]:
df.sort_values(by=['Age'],ascending=False)

   Sr.no    Name         Hobby  Age Follow it as passion
8      9      Ava      Playing   26                  Yes
5      6   Olivia      Writing   25                   No
4      5   daniel    Traveling   24                   No
2      3  Michael  Photography   23                  Yes
9     10     Bolt         Yoga   17                  Yes
7      8     Emma      Singing   16                  Yes
3      4   Sophia     Painting   14                  Yes
1      2    Emily      Cooking   13                   No
0      1     john      Reading   12                  Yes
6      7    David      Fishing   11                   No

In [ ]:
import pandas as pd
a = pd.merge(df,df1)
print(a)

   Sr.no    Name         Hobby  Age Follow it as passion  Experience(year)
0      1     john      Reading   12                  Yes                 2
1      2    Emily      Cooking   13                   No                 3
2      3  Michael  Photography   23                  Yes                 6
3      4   Sophia     Painting   14                  Yes                 3
4      5   daniel    Traveling   24                   No                 7
5      6   Olivia      Writing   25                   No                 4
6      7    David      Fishing   11                   No                 2
7      8     Emma      Singing   16                  Yes                 5
8      9      Ava      Playing   26                  Yes                 1
9     10     Bolt         Yoga   17                  Yes                 9

In [ ]:
def age():
  import pandas as pd
  a = df.sort_values(by=['Age'],ascending=False)


  g = a.nlargest(3,'Age','first')
  print(g)
age()

   Sr.no   Name       Hobby  Age Follow it as passion
8      9     Ava    Playing   26                  Yes
5      6  Olivia    Writing   25                   No
4      5  daniel  Traveling   24                   No

In [ ]:
# in array

import pandas as pd
import numpy as np

df = pd.read_csv('/hobby CSV.csv')
a = df

array = df.to_numpy()
print(array)


print(array.T)

[[1 'john' 'Reading' 12 'Yes']
 [2 'Emily' 'Cooking' 13 'No']
 [3 'Michael' 'Photography' 23 'Yes']
 [4 'Sophia' 'Painting' 14 'Yes']
 [5 'daniel' 'Traveling' 24 'No']
 [6 'Olivia' 'Writing' 25 'No']
 [7 'David' 'Fishing' 11 'No']
 [8 'Emma' 'Singing' 16 'Yes']
 [9 'Ava' 'Playing' 26 'Yes']
 [10 'Bolt' 'Yoga' 17 'Yes']]
[[1 2 3 4 5 6 7 8 9 10]
 ['john' 'Emily' 'Michael' 'Sophia' 'daniel' 'Olivia' 'David' 'Emma'
  'Ava' 'Bolt']
 ['Reading' 'Cooking' 'Photography' 'Painting' 'Traveling' 'Writing'
  'Fishing' 'Singing' 'Playing' 'Yoga']
 [12 13 23 14 24 25 11 16 26 17]
 ['Yes' 'No' 'Yes' 'Yes' 'No' 'No' 'No' 'Yes' 'Yes' 'Yes']]

In [ ]:
# in list and dict
import pandas as pd
df = pd.read_csv('/hobby CSV.csv')
a = df

print(a.values.tolist())

b = df.to_dict()
print(b)

[[1, 'john', 'Reading', 12, 'Yes'], [2, 'Emily', 'Cooking', 13, 'No'], [3, 'Michael', 'Photography', 23, 'Yes'], [4, 'Sophia', 'Painting', 14, 'Yes'], [5, 'daniel', 'Traveling', 24, 'No'], [6, 'Olivia', 'Writing', 25, 'No'], [7, 'David', 'Fishing', 11, 'No'], [8, 'Emma', 'Singing', 16, 'Yes'], [9, 'Ava', 'Playing', 26, 'Yes'], [10, 'Bolt', 'Yoga', 17, 'Yes']]
{'Sr.no': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}, 'Name ': {0: 'john', 1: 'Emily', 2: 'Michael', 3: 'Sophia', 4: 'daniel', 5: 'Olivia', 6: 'David', 7: 'Emma', 8: 'Ava', 9: 'Bolt'}, 'Hobby': {0: 'Reading', 1: 'Cooking', 2: 'Photography', 3: 'Painting', 4: 'Traveling', 5: 'Writing', 6: 'Fishing', 7: 'Singing', 8: 'Playing', 9: 'Yoga'}, 'Age': {0: 12, 1: 13, 2: 23, 3: 14, 4: 24, 5: 25, 6: 11, 7: 16, 8: 26, 9: 17}, 'Follow it as passion': {0: 'Yes', 1: 'No', 2: 'Yes', 3: 'Yes', 4: 'No', 5: 'No', 6: 'No', 7: 'Yes', 8: 'Yes', 9: 'Yes'}}

In [ ]:
import pandas as pd
df = pd.read_csv('/hobby CSV.csv')
b = pd.DataFrame(df)
print(b)

   Sr.no    Name         Hobby  Age Follow it as passion
0      1     john      Reading   12                  Yes
1      2    Emily      Cooking   13                   No
2      3  Michael  Photography   23                  Yes
3      4   Sophia     Painting   14                  Yes
4      5   daniel    Traveling   24                   No
5      6   Olivia      Writing   25                   No
6      7    David      Fishing   11                   No
7      8     Emma      Singing   16                  Yes
8      9      Ava      Playing   26                  Yes
9     10     Bolt         Yoga   17                  Yes

In [ ]:
a=df['Age']
print(a)

0    12
1    13
2    23
3    14
4    24
5    25
6    11
7    16
8    26
9    17
Name: Age, dtype: int64

In [ ]:
print(b[['Name ','Age']])
g = df.columns.tolist()
print(g)

     Name   Age
0     john   12
1    Emily   13
2  Michael   23
3   Sophia   14
4   daniel   24
5   Olivia   25
6    David   11
7     Emma   16
8      Ava   26
9     Bolt   17
['Sr.no', 'Name ', 'Hobby', 'Age', 'Follow it as passion']

In [ ]:
z=df['Name '].value_counts()
print(z)

john       1
Emily      1
Michael    1
Sophia     1
daniel     1
Olivia     1
David      1
Emma       1
Ava        1
Bolt       1
Name: Name , dtype: int64

In [ ]:
x=df['Sr.no'].value_counts()[1]
print(x)

1

In [ ]:
s=df.sort_values(by='Age',ascending=True)
print(s)

   Sr.no    Name         Hobby  Age Follow it as passion
6      7    David      Fishing   11                   No
0      1     john      Reading   12                  Yes
1      2    Emily      Cooking   13                   No
3      4   Sophia     Painting   14                  Yes
7      8     Emma      Singing   16                  Yes
9     10     Bolt         Yoga   17                  Yes
2      3  Michael  Photography   23                  Yes
4      5   daniel    Traveling   24                   No
5      6   Olivia      Writing   25                   No
8      9      Ava      Playing   26                  Yes

In [ ]:
import pandas as pd

def display_hobby():
    df = pd.read_csv('/hobby CSV.csv')


    a = df[df['Age'] >=23]

    if a.empty:
        print("No member of Age 14")
    else:
        print("Name with Age of 14")
        print(a)

display_hobby()

Name with Age of 14
   Sr.no    Name         Hobby  Age Follow it as passion
2      3  Michael  Photography   23                  Yes
4      5   daniel    Traveling   24                   No
5      6   Olivia      Writing   25                   No
8      9      Ava      Playing   26                  Yes

In [ ]:
import pandas as pd
df1=pd.read_csv('/content/Graing CSV.csv')
data=df1.values.tolist()

a=df1['Price']
b=df1['Magazine Name']

df1.Price=df1.Price.astype('int64')
d=df1['Magazine Name'][df1.Price>500]

def book(a,b,d):
  print('Book',a,b)
book(a,b,d)
def book(d):
  print('book Details:',d)
book(d)

Book 0     1500
1     1700
2     1900
3     2000
4     1600
5     2500
6     3200
7     2300
8      900
9      500
10    1000
11    4300
12    5000
13    3000
14    1500
15    1300
16    2400
17    2200
18    1950
19    4000
Name: Price, dtype: int64 0          Tech today
1            PC World
2        Code Journal
3         Gaming Book
4       Data Insights
5         Tech trends
6            PC Gamer
7      Software world
8        Network News
9       Web Developer
10     Cyber Security
11       Data Science
12      Tech Business
13            Tech AI
14    Cloud Computing
15                IoT
16    Hardware sights
17         Game World
18      Data analysis
19           PC Files
Name: Magazine Name, dtype: object
book Details: 0          Tech today
1            PC World
2        Code Journal
3         Gaming Book
4       Data Insights
5         Tech trends
6            PC Gamer
7      Software world
8        Network News
10     Cyber Security
11       Data Science
12      Tech Business
13            Tech AI
14    Cloud Computing
15                IoT
16    Hardware sights
17         Game World
18      Data analysis
19           PC Files
Name: Magazine Name, dtype: object

Q.1) Display CSV

In [ ]:
import pandas as pd
df = pd.read_csv('/content/dataset1.csv')
print(df)

    Year Format        Host    Final Venue     Winner     Margin   Runner up
0   1984    ODI         UAE        Sharjah      India    54 runs    Pakistan
1   1986    ODI   Sri Lanka  Colombo (SSC)  Sri Lanka  5 wickets    Pakistan
2   1988    ODI  Bangladesh          Dhaka      India  6 wickets   Sri Lanka
3   1991    ODI       India        Kolkata      India  7 wickets   Sri Lanka
4   1995   T20I         UAE        Sharjah      India  8 wickets   Sri Lanka
5   1997    ODI   Sri Lanka  Colombo (RPS)  Sri Lanka  8 wickets       India
6   2000    ODI  Bangladesh          Dhaka   Pakistan    39 runs   Sri Lanka
7   2004    ODI   Sri Lanka  Colombo (RPS)  Sri Lanka    25 runs       India
8   2008   T20I    Pakistan        Karachi  Sri Lanka   100 runs       India
9   2010    ODI   Sri Lanka       Dambulla      India    81 runs   Sri Lanka
10  2012    ODI  Bangladesh         Mirpur   Pakistan     2 runs  Bangladesh
11  2014    ODI  Bangladesh         Mirpur  Sri Lanka  5 wickets    Pakistan
12  2016   T20I  Bangladesh         Mirpur      India  8 wickets  Bangladesh

Q.2) Sort by Year Ascending

In [ ]:
df.sort_values(by=['Year'])

    Year Format        Host    Final Venue     Winner     Margin   Runner up
0   1984    ODI         UAE        Sharjah      India    54 runs    Pakistan
1   1986    ODI   Sri Lanka  Colombo (SSC)  Sri Lanka  5 wickets    Pakistan
2   1988    ODI  Bangladesh          Dhaka      India  6 wickets   Sri Lanka
3   1991    ODI       India        Kolkata      India  7 wickets   Sri Lanka
4   1995   T20I         UAE        Sharjah      India  8 wickets   Sri Lanka
5   1997    ODI   Sri Lanka  Colombo (RPS)  Sri Lanka  8 wickets       India
6   2000    ODI  Bangladesh          Dhaka   Pakistan    39 runs   Sri Lanka
7   2004    ODI   Sri Lanka  Colombo (RPS)  Sri Lanka    25 runs       India
8   2008   T20I    Pakistan        Karachi  Sri Lanka   100 runs       India
9   2010    ODI   Sri Lanka       Dambulla      India    81 runs   Sri Lanka
10  2012    ODI  Bangladesh         Mirpur   Pakistan     2 runs  Bangladesh
11  2014    ODI  Bangladesh         Mirpur  Sri Lanka  5 wickets    Pakistan
12  2016   T20I  Bangladesh         Mirpur      India  8 wickets  Bangladesh

Q.3)Sort Year by Decending order

In [ ]:
df.sort_values(by=['Year'],ascending=False)

    Year Format        Host    Final Venue     Winner     Margin   Runner up
12  2016   T20I  Bangladesh         Mirpur      India  8 wickets  Bangladesh
11  2014    ODI  Bangladesh         Mirpur  Sri Lanka  5 wickets    Pakistan
10  2012    ODI  Bangladesh         Mirpur   Pakistan     2 runs  Bangladesh
9   2010    ODI   Sri Lanka       Dambulla      India    81 runs   Sri Lanka
8   2008   T20I    Pakistan        Karachi  Sri Lanka   100 runs       India
7   2004    ODI   Sri Lanka  Colombo (RPS)  Sri Lanka    25 runs       India
6   2000    ODI  Bangladesh          Dhaka   Pakistan    39 runs   Sri Lanka
5   1997    ODI   Sri Lanka  Colombo (RPS)  Sri Lanka  8 wickets       India
4   1995   T20I         UAE        Sharjah      India  8 wickets   Sri Lanka
3   1991    ODI       India        Kolkata      India  7 wickets   Sri Lanka
2   1988    ODI  Bangladesh          Dhaka      India  6 wickets   Sri Lanka
1   1986    ODI   Sri Lanka  Colombo (SSC)  Sri Lanka  5 wickets    Pakistan
0   1984    ODI         UAE        Sharjah      India    54 runs    Pakistan

Q.3)Display First 3.

In [ ]:
def a():
  import pandas as pd
  a = df.sort_values(by=['Year'],ascending=False)


  g = a.nlargest(3,'Year','first')
  print(g)
a()

    Year Format        Host Final Venue     Winner     Margin   Runner up
12  2016   T20I  Bangladesh      Mirpur      India  8 wickets  Bangladesh
11  2014    ODI  Bangladesh      Mirpur  Sri Lanka  5 wickets    Pakistan
10  2012    ODI  Bangladesh      Mirpur   Pakistan     2 runs  Bangladesh

Q.4)Convert to array.

In [ ]:
# in array

import pandas as pd
import numpy as np

df = pd.read_csv('/content/dataset1.csv')
a = df

array = df.to_numpy()
print(array)


print(array.T)

[[1984 'ODI' 'UAE' 'Sharjah' 'India' '54 runs' 'Pakistan']
 [1986 'ODI' 'Sri Lanka' 'Colombo (SSC)' 'Sri Lanka' '5 wickets'
  'Pakistan']
 [1988 'ODI' 'Bangladesh' 'Dhaka' 'India' '6 wickets' 'Sri Lanka']
 [1991 'ODI' 'India' 'Kolkata' 'India' '7 wickets' 'Sri Lanka']
 [1995 'T20I' 'UAE' 'Sharjah' 'India' '8 wickets' 'Sri Lanka']
 [1997 'ODI' 'Sri Lanka' 'Colombo (RPS)' 'Sri Lanka' '8 wickets' 'India']
 [2000 'ODI' 'Bangladesh' 'Dhaka' 'Pakistan' '39 runs' 'Sri Lanka']
 [2004 'ODI' 'Sri Lanka' 'Colombo (RPS)' 'Sri Lanka' '25 runs' 'India']
 [2008 'T20I' 'Pakistan' 'Karachi' 'Sri Lanka' '100 runs' 'India']
 [2010 'ODI' 'Sri Lanka' 'Dambulla' 'India' '81 runs' 'Sri Lanka']
 [2012 'ODI' 'Bangladesh' 'Mirpur' 'Pakistan' '2 runs' 'Bangladesh']
 [2014 'ODI' 'Bangladesh' 'Mirpur' 'Sri Lanka' '5 wickets' 'Pakistan']
 [2016 'T20I' 'Bangladesh' 'Mirpur' 'India' '8 wickets' 'Bangladesh']]
[[1984 1986 1988 1991 1995 1997 2000 2004 2008 2010 2012 2014 2016]
 ['ODI' 'ODI' 'ODI' 'ODI' 'T20I' 'ODI' 'ODI' 'ODI' 'T20I' 'ODI' 'ODI'
  'ODI' 'T20I']
 ['UAE' 'Sri Lanka' 'Bangladesh' 'India' 'UAE' 'Sri Lanka' 'Bangladesh'
  'Sri Lanka' 'Pakistan' 'Sri Lanka' 'Bangladesh' 'Bangladesh'
  'Bangladesh']
 ['Sharjah' 'Colombo (SSC)' 'Dhaka' 'Kolkata' 'Sharjah' 'Colombo (RPS)'
  'Dhaka' 'Colombo (RPS)' 'Karachi' 'Dambulla' 'Mirpur' 'Mirpur' 'Mirpur']
 ['India' 'Sri Lanka' 'India' 'India' 'India' 'Sri Lanka' 'Pakistan'
  'Sri Lanka' 'Sri Lanka' 'India' 'Pakistan' 'Sri Lanka' 'India']
 ['54 runs' '5 wickets' '6 wickets' '7 wickets' '8 wickets' '8 wickets'
  '39 runs' '25 runs' '100 runs' '81 runs' '2 runs' '5 wickets'
  '8 wickets']
 ['Pakistan' 'Pakistan' 'Sri Lanka' 'Sri Lanka' 'Sri Lanka' 'India'
  'Sri Lanka' 'India' 'India' 'Sri Lanka' 'Bangladesh' 'Pakistan'
  'Bangladesh']]

Q.5)Convert in List and Dictionary

In [ ]:
# in list and dict
import pandas as pd
df = pd.read_csv('/content/dataset1.csv')
a = df

print(a.values.tolist())

b = df.to_dict()
print(b)

[[1984, 'ODI', 'UAE', 'Sharjah', 'India', '54 runs', 'Pakistan'], [1986, 'ODI', 'Sri Lanka', 'Colombo (SSC)', 'Sri Lanka', '5 wickets', 'Pakistan'], [1988, 'ODI', 'Bangladesh', 'Dhaka', 'India', '6 wickets', 'Sri Lanka'], [1991, 'ODI', 'India', 'Kolkata', 'India', '7 wickets', 'Sri Lanka'], [1995, 'T20I', 'UAE', 'Sharjah', 'India', '8 wickets', 'Sri Lanka'], [1997, 'ODI', 'Sri Lanka', 'Colombo (RPS)', 'Sri Lanka', '8 wickets', 'India'], [2000, 'ODI', 'Bangladesh', 'Dhaka', 'Pakistan', '39 runs', 'Sri Lanka'], [2004, 'ODI', 'Sri Lanka', 'Colombo (RPS)', 'Sri Lanka', '25 runs', 'India'], [2008, 'T20I', 'Pakistan', 'Karachi', 'Sri Lanka', '100 runs', 'India'], [2010, 'ODI', 'Sri Lanka', 'Dambulla', 'India', '81 runs', 'Sri Lanka'], [2012, 'ODI', 'Bangladesh', 'Mirpur', 'Pakistan', '2 runs', 'Bangladesh'], [2014, 'ODI', 'Bangladesh', 'Mirpur', 'Sri Lanka', '5 wickets', 'Pakistan'], [2016, 'T20I', 'Bangladesh', 'Mirpur', 'India', '8 wickets', 'Bangladesh']]
{'Year': {0: 1984, 1: 1986, 2: 1988, 3: 1991, 4: 1995, 5: 1997, 6: 2000, 7: 2004, 8: 2008, 9: 2010, 10: 2012, 11: 2014, 12: 2016}, 'Format': {0: 'ODI', 1: 'ODI', 2: 'ODI', 3: 'ODI', 4: 'T20I', 5: 'ODI', 6: 'ODI', 7: 'ODI', 8: 'T20I', 9: 'ODI', 10: 'ODI', 11: 'ODI', 12: 'T20I'}, 'Host': {0: 'UAE', 1: 'Sri Lanka', 2: 'Bangladesh', 3: 'India', 4: 'UAE', 5: 'Sri Lanka', 6: 'Bangladesh', 7: 'Sri Lanka', 8: 'Pakistan', 9: 'Sri Lanka', 10: 'Bangladesh', 11: 'Bangladesh', 12: 'Bangladesh'}, 'Final Venue': {0: 'Sharjah', 1: 'Colombo (SSC)', 2: 'Dhaka', 3: 'Kolkata', 4: 'Sharjah', 5: 'Colombo (RPS)', 6: 'Dhaka', 7: 'Colombo (RPS)', 8: 'Karachi', 9: 'Dambulla', 10: 'Mirpur', 11: 'Mirpur', 12: 'Mirpur'}, 'Winner': {0: 'India', 1: 'Sri Lanka', 2: 'India', 3: 'India', 4: 'India', 5: 'Sri Lanka', 6: 'Pakistan', 7: 'Sri Lanka', 8: 'Sri Lanka', 9: 'India', 10: 'Pakistan', 11: 'Sri Lanka', 12: 'India'}, 'Margin': {0: '54 runs', 1: '5 wickets', 2: '6 wickets', 3: '7 wickets', 4: '8 wickets', 5: '8 wickets', 6: '39 runs', 7: '25 runs', 8: '100 runs', 9: '81 runs', 10: '2 runs', 11: '5 wickets', 12: '8 wickets'}, 'Runner up': {0: 'Pakistan', 1: 'Pakistan', 2: 'Sri Lanka', 3: 'Sri Lanka', 4: 'Sri Lanka', 5: 'India', 6: 'Sri Lanka', 7: 'India', 8: 'India', 9: 'Sri Lanka', 10: 'Bangladesh', 11: 'Pakistan', 12: 'Bangladesh'}}

Q.6)In Dataframe.

In [ ]:
import pandas as pd
df = pd.read_csv('/content/dataset1.csv')
b = pd.DataFrame(df)
print(b)

    Year Format        Host    Final Venue     Winner     Margin   Runner up
0   1984    ODI         UAE        Sharjah      India    54 runs    Pakistan
1   1986    ODI   Sri Lanka  Colombo (SSC)  Sri Lanka  5 wickets    Pakistan
2   1988    ODI  Bangladesh          Dhaka      India  6 wickets   Sri Lanka
3   1991    ODI       India        Kolkata      India  7 wickets   Sri Lanka
4   1995   T20I         UAE        Sharjah      India  8 wickets   Sri Lanka
5   1997    ODI   Sri Lanka  Colombo (RPS)  Sri Lanka  8 wickets       India
6   2000    ODI  Bangladesh          Dhaka   Pakistan    39 runs   Sri Lanka
7   2004    ODI   Sri Lanka  Colombo (RPS)  Sri Lanka    25 runs       India
8   2008   T20I    Pakistan        Karachi  Sri Lanka   100 runs       India
9   2010    ODI   Sri Lanka       Dambulla      India    81 runs   Sri Lanka
10  2012    ODI  Bangladesh         Mirpur   Pakistan     2 runs  Bangladesh
11  2014    ODI  Bangladesh         Mirpur  Sri Lanka  5 wickets    Pakistan
12  2016   T20I  Bangladesh         Mirpur      India  8 wickets  Bangladesh

Q.7)Display particular columns

In [ ]:
print(b[['Host','Winner']])
g = df.columns.tolist()
print(g)

          Host     Winner
0          UAE      India
1    Sri Lanka  Sri Lanka
2   Bangladesh      India
3        India      India
4          UAE      India
5    Sri Lanka  Sri Lanka
6   Bangladesh   Pakistan
7    Sri Lanka  Sri Lanka
8     Pakistan  Sri Lanka
9    Sri Lanka      India
10  Bangladesh   Pakistan
11  Bangladesh  Sri Lanka
12  Bangladesh      India
['Year', 'Format', 'Host', 'Final Venue', 'Winner', 'Margin', 'Runner up']

Q.8)Count of Host.

In [ ]:
z=df['Host'].value_counts()
print(z)

Bangladesh    5
Sri Lanka     4
UAE           2
India         1
Pakistan      1
Name: Host, dtype: int64

In [ ]:
x=df['Host'].value_counts()[0]
print(x)

5